<div class="banner">
  <div class="banner-content">
    <div class="text-container" style="margin-top: 2rem;">
      <h1 class="title-main roboto-bold"><strong>Web Developer & Creative</strong></h1>
      <h2 class="subtitle roboto-regular">Based in Tokyo, I’m an independent creative working across visual design, storytelling, and digital experiences.
I collaborate with artists, brands, and cultural spaces to develop thoughtful, expressive work that cuts through — from concept to execution.
Rooted in curiosity and shaped by a global perspective, my practice spans multiple mediums while always aiming to connect, resonate, and leave a lasting impression.</h2>
    </div>
  </div>
</div>
