<div class="banner">
  <div class="banner-content">
    <div class="text-container" style="margin-top: 2rem;">
      <h1 class="title-main roboto-bold"><strong>Tokyo-Based</strong></h1>
      <h1 class="title-main roboto-bold"><strong>Web Developer & Creative</strong></h1>
      <h2 class="subtitle roboto-regular">Analytical and Detail-Oriented, with a passion for front-end development and UI / UX design.</h2>
    </div>
  </div>
</div>
