<div class="banner2">
  <video class="banner-video" autoplay muted loop>
    <source src="projects/Alterphorm-Vid.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="banner-content">
    <div class="roboto-regular" style="color: white; margin-top: 2rem;">
      <p>ALTERPHORM is a project inspired by certain influences that are exposed to the youth throughout life growing up in specifically but not limited to Melbourne, Australia. That is, if the youth choose to follow this path on their own will. Many are influenced by external factors and other distractions of life that seem to guide them in the right direction in society's eyes, but constantly seeking adrenaline and perfection in detail keeps these influences relevant in our lives. Searching for second hand clothes that ultimately curate our own style, continuously trying the same trick at the skatepark until pushing yourself to physical incapability, trying to get that perfect shot on your favourite film camera without wasting film, focusing so hard to not mess up a painting, and even simply going out with friends to a gritty unlisted event in the middle of nowhere. These situations are what ALTERPHORM grew from and the people who have spent hours experiencing this type of life all have a mutual understanding of one another to some degree. Our creative endeavours are how we build our own characteristics that bring us to our ALTERPHORM of thinking, that is if it is for the better or worse of our own mental wellbeing.</p>
    </div>
  </div>
</div>
