<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h1>About me</h1>
        <p>
			Analytical and detail-oriented, with a passion for frontend development and
      UI/UX design. Holding a BA in Innovation and Design with a Co-Major in
			Japanese (JLPT N3), and a recent graduate of Le Wagon coding bootcamp.
			Eager to apply my skills in creating intuitive, visually compelling user
			experiences, and committed to continuous learning and contribution.</p>
      </div>
    </div>
  </div>
</div>
