<div class="banner">
  <div class="banner-content">
    <div class="profile-image">
      <%= image_tag 'projects/profileimage.jpeg', alt: 'profile photo', class: 'profile-photo' %>
    </div>
    <div class="text-container">
      <h1 class="roboto-bold" style="font-size: 56px;"><strong>Cadeyrn Rattur</strong></h1>
      <h2 class="subtitle roboto-bold" style="font-size: 24px;">Tokyo-based Web Developer & Creative</h2>
      <div id="about" class="roboto-regular">
        <p>
          Analytical and detail-oriented, with a passion for frontend development and
          UI/UX design. Holding a BA in Innovation and Design with a Co-Major in
          Japanese (JLPT N3), and a recent graduate of Le Wagon coding bootcamp.
          Eager to apply my skills in creating intuitive, visually compelling user
          experiences, and committed to continuous learning and contribution.
        </p>
      </div>
    </div>
  </div>
</div>
