<div class="banner">
  <div class="banner-content">
    <div class="text-container">
      <h1 class="roboto-bold" style="font-size: 56px;"><strong>Tokyo-Based</strong></h1>
      <h1 class="roboto-bold" style="font-size: 56px;"><strong>Web Developer & Creative</strong></h1>
      <h2 class="subtitle roboto-regular" style="font-size: 24px;">Analytical and Detail-Oriented, with a passion for frontend development and UI / UX design.</h2>
    </div>
  </div>
    <div class="row my-5" style="color: #031602; padding: 75px;">
      <div class="col-12">
        <div id="contact">
          <div class="d-flex justify-content-center flex-wrap">
            <div class="button-social d-flex flex-column justify-content-center align-items-center">
              <i class="fa-solid fa-envelope"></i>
              <%= mail_to "allfordcadeyrn@gmail.com", "", class: 'button-social-link' %>
            </div>
          <div class="button-social d-flex flex-column justify-content-center align-items-center">
            <i class="fa-brands fa-github"></i>
            <%= link_to "", "https://github.com/KAYYWHAT", target: '_blank', class: 'button-social-link' %>
          </div>
          <div class="button-social d-flex flex-column justify-content-center align-items-center">
            <i class="fa-brands fa-linkedin"></i>
            <%= link_to "", "https://www.linkedin.com/in/cadeyrnrattur/", target: '_blank', class: 'button-social-link' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
