<div class="banner">
  <div class="banner-content">
    <%= image_tag 'https://avatars.githubusercontent.com/u/173659019?v=4', alt: 'profile photo', class: 'profile-photo' %>
    <div class="text-content">
      <h1 class="body"><strong>Cadeyrn Rattur</strong></h1>
      <p class="body">Tokyo-based Web Developer & Creative</p>
    </div>
  </div>
</div>
