<div class="banner">
  <div class="banner-content">
    <div class="text-container" style="margin-top: 2rem;">
      <h1 class="title-main roboto-bold"><strong>Tokyo-Based</strong></h1>
      <h1 class="title-main roboto-bold"><strong>Web Developer & Creative</strong></h1>
      <h2 class="subtitle roboto-regular">Analytical and Detail-Oriented, with a passion for frontend development and UI / UX design.</h2>
    </div>
    </div>
    <div class="social-icons-container">
      <div class="social-icons">
        <div class="button-social">
          <i class="fa-solid fa-envelope"></i>
          <%= mail_to "allfordcadeyrn@gmail.com", "", class: 'button-social-link' %>
        </div>
        <div class="button-social">
          <i class="fa-brands fa-github"></i>
          <%= link_to "", "https://github.com/KAYYWHAT", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social">
          <i class="fa-brands fa-linkedin"></i>
          <%= link_to "", "https://www.linkedin.com/in/cadeyrnrattur/", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
