<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <a class="profile-photo" href="#">
        <%= image_tag 'projects/profileimage.jpeg', alt: 'Profile photo', class: 'profile-photo' %>
      </a>
      <span class="ms-2 nav-link">Cadeyrn Rattur</span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto navbar-links">
        <li class="nav-item active">
          <a class="nav-link" href="#">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactme.html">Contact Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://docs.google.com/document/d/1d0SwgwT8lKb9kPgaf7JVo8geTBm0Xx7MpPJgKOh7c8o/edit?usp=sharing" target="_blank">My Resume</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
