<div class="navbar-lewagon">
  <div class="navbar-center roboto-regular">
    <div class="navbar-links">
      <a class="nav-link" href="#">Home</a>
      <a class="nav-link" href="#">Product Design</a>
      <a class="nav-link" href="#">Web Development</a>
      <a class="nav-link" href="#">Photography/Videography</a>
      <a class="nav-link" href="#">Alertphorm</a>
    </div>
  </div>
</div>
