.card-product {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.project-image {
  display: block;
}

.image {
  width: 100%;
  height: auto; /* Ensure the image maintains its aspect ratio */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
}

.card-trip-infos {
  padding: 16px;
}

.card-trip-infos h2 {
  margin: 0 0 8px;
  font-size: 1.5em;
}

.card-trip-infos p {
  margin: 0;
  font-size: 1em;
  color: #555;
}
