
.form-background {
  background-color: #464646; /* Dark grey background */
  border-radius: 0.5rem;
}

.form-background .form-control {
  background-color: white; /* White background for input fields */
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .form-background {
    padding: 2rem;
  }
}
